{% extends 'dashboard_base.html' %}
{% block title %} students dashboard {% endblock %}
{% load static %}
{% block content %}
<!-- Header Layout Content -->
<div class="mdk-header-layout__content">

    <div data-push="" data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page ">
            <div class="container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="student-dashboard.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="student-browse-courses.html">Courses</a></li>
                    <li class="breadcrumb-item active">{{ course.title }}</li>
                </ol>
                <h1 class="h2">{{ course.title }}</h1>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <a href="{% url 'onlinecourses:load_course'  course.id  %}">
                                <img src="/media/{{ course.photo }}" alt="Card image cap" class="mx-auto d-block"
                                    style="width:100%;">
                            </a>
                            <hr>
                            <div class="card-body font-weight-bold">
                                {{ course.description|safe}}

                            </div>
                        </div>

                        <!-- Lessons -->
                        <h3 class="text-dark">Available Lessons/Outline</h3>
                        {% if outline %}
                        
                        <ul class="card list-group list-group-fit d-flex justify-content-center " style="list-style-type:none; padding-left:8%;">

                            {% for lesson in outline %}
                            <li class="border-top pt-2">
                                <div class="row" >
                                    <div class="col-sm-9 d-flex justify-content-between y-0">
                                       <h5 class="text-info d-inline">{{ lesson.title }}</h5> 
                                       <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons text-right">ondemand_video</i>
                                    </div>
                                    
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <br>
                        <b>No outlines has been added for this course</b>
                        <br>
                        {% endif %}
                    </div>
                    <div class="col-md-4">

                        {% if user_membership %}

                        {% for membership in user_membership %}

                        {% if membership.membership.membership_type == "Medium" %}

                        <div class="card">
                            <div class="card-body text-center bg-success">

                                <div class="page-separator">
                                    <!-- <div class="page-separator__text">or</div>-->
                                    {{message}}
                                </div>
                                {% if user_bought_course %}
                                <p class="text-light">You are Already Enrolled to this course Start Learning</p>
                                <a href="{% url 'onlinecourses:student_start_course' course.id %}"
                                    class="btn btn-info btn-block flex-column ">
                                     Start Learning
                                    <!-- <strong><s>N</s>{{ course.price }}</strong>-->
                                </a>
                                {% else %}
                                <a href="{% url 'onlinecourses:buy_course' course.slug  %}"
                                    class="btn btn-white btn-block flex-column ">
                                    click to enroll to Course For
                                    <!-- <strong><s>N</s>{{ course.price }}</strong>-->
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% elif membership.membership.membership_type == "Free" %}
                        <div class="card">
                            <div class="card-body text-center bg-warning ">
                                <h5 class="text-light">You are in Free Subscription<br>to enroll in this course</h5>
                                <h5 class="text-light">Upgrade your Subscription Plan</h5>
                                <button class="btn btn-danger">
                                     <a href="{% url 'subscription' %}"
                                        class="text-light">subscription</a>
                                </button>
                            </div>
                        </div>

                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        <div class="card">
                            <div class="card-header">
                                <div class="media align-items-center">

                                    <div class="media-body">
                                        <h4 class="card-title">Objectives</h4>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>
                                <ul>
                                    <li>
                                        {{ course.objective|safe}}
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <ul class="list-group list-group-fit">
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <h3 class="media-body">
                                            Eligibility
                                        </h3>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                       
                                        <div class="media-body">
                                            {{course.eligibility|safe}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ratings</h4>
                            </div>
                            <div class="card-body">
                                <div class="rating">
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star_border</i>
                                </div>
                                <small class="text-muted">20 ratings</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include '../../partials/_student_sidebar.html' %}
    </div>
</div>
{% endblock %}