{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
<!-- Header Layout Content -->
<div class="mdk-header-layout__content">
    <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">

        <div class="mdk-drawer-layout__content page ">
            <div class="container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="instructor-dashboard.html">Home</a></li>
                    <li class="breadcrumb-item active">Courses</li>
                </ol>

                <div
                    class="d-flex flex-column flex-sm-row flex-wrap mb-headings align-items-start align-items-sm-center">
                    <div class="flex mb-2 mb-sm-0">
                        <h1 class="h2">Manage Courses</h1>
                    </div>
                    <a href="{% url 'onlinecourses:create_course' %}" class="btn btn-success">Add course</a>
                </div>

                <div class="card card-body border-left-3 border-left-primary navbar-shadow mb-4">
                    <form action="#">
                        <div class="d-flex flex-wrap2 align-items-center mb-headings">
                            <div class="flex search-form ml-3 search-form--light">
                                <input type="text" class="form-control" placeholder="Search courses"
                                    id="searchSample02">
                                <button class="btn" type="button" role="button"><i
                                        class="material-icons">search</i></button>
                            </div>
                        </div>

                        <div class="d-flex flex-column flex-sm-row align-items-sm-center" style="white-space: nowrap;">
                            <small class="flex text-muted text-uppercase mr-3 mb-2 mb-sm-0">Displaying 4 out of 10
                                courses</small>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div>
                        {% if error %}
                        <div class="alert alert-danger"> {{ error }}</div>
                        {% endif %}

                        {% if message %}
                        <div class="alert alert-success"> {{ message }} </div>
                        <h4>select course and add Course lessons</h4>

                        {% endif %}
                    </div>
                    {% for course in courses %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex flex-column flex-sm-row">
                                    <a href="{% url 'onlinecourses:course_preview' course.id %}"
                                        class="avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                        <img src="/media/{{ course.photo }}" alt="Card image cap"
                                            class="avatar-img rounded img-fluid mx-auto d-block ">
                                    </a>
                                    <div class="flex" style="min-width: 200px;">
                                        <!-- <h5 class="card-title text-base m-0"><a href="instructor-course-edit.html"><strong>Learn Vue.js</strong></a></h5> -->
                                        <h4 class="card-title mb-1"><a
                                                href="{% url 'onlinecourses:course_preview' course.id %}">{{course.title}}</a>
                                        </h4>
                                        <p class="text-black-70">Let’s start with a quick tour of Vue’s data binding
                                            features.</p>
                                        <div class="d-flex align-items-end">
                                            <div class="d-flex flex flex-column mr-3">
                                                <div class="d-flex align-items-center py-1 border-bottom">
                                                    <small class="text-black-70 mr-2">{{course.price}}</small>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <a href="{% url 'onlinecourses:edit_course' pk=course.pk%}"
                                                    class="btn btn-sm btn-white">Edit</a>

                                                <a class=" text-info px-4 btn btn-sm btn-white"
                                                    href="{% url 'onlinecourses:add_more_lesson' course.id %}">Add
                                                    lesson</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__options dropdown right-0 pr-2">
                                <a href="#" class="dropdown-toggle text-muted" data-caret="false"
                                    data-toggle="dropdown">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"
                                        href="{% url 'onlinecourses:edit_course' pk=course.pk%}">Edit course</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-info"
                                        href="{% url 'onlinecourses:add_more_lesson' course.id %}">Add course lesson</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger"
                                        href="{% url 'onlinecourses:delete_course' pk=course.pk %}">Delete course</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center pagination-sm">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                            <span>Prev</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#" aria-label="1">
                            <span>1</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="1">
                            <span>2</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- sidebar here -->
        {% include '../../partials/_sidebar.html' %}
    </div>
</div>
{% endblock %}