{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
<!-- Header Layout Content -->
<div class="mdk-header-layout__content">

    <div data-push="" data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page ">

            <div class="container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Course</a></li>
                    <li class="breadcrumb-item active">{{signal.title}}</li>
                </ol>
                <h1 class="h2">{{signal.title}} </h1>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <img src="/media/{{ signal.photo }}" class="img-fluid mx-auto d-block">
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <h4 class="card-title">Signal Content</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>
                                    {{ signal.body|safe}}

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <a href="{% url 'edit_signal' signal.id%}"
                                class="btn btn-sm btn-white">Edit</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <h4 class="card-title">Signal Description</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>
                                    {{ signal.description}}

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% include '../../partials/_sidebar.html' %}
    </div>
</div>
{% endblock %}