{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated and request.user.is_instructor and request.user.is_admin %}
<!-- Header Layout Content -->
<div class="mdk-header-layout__content">

    <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page  ">

            <div class="container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="instructor-dashboard.html">Home</a></li>
                    <li class="breadcrumb-item active"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>

                <div class="text-center">
                    <a href="#"><img src="/media/{{user.profile.photo }}" alt="insructor profile photo"  height="100px" width="100px" class="rounded-circle d-block mx-auto thumbnail"></a>
                    <h1 class="h2 mb-0 mt-1">{{request.user.username}} </h1>
                    <p class="lead text-muted mb-0">{{user.profile.country}}</p>
                    <div class="badge badge-primary ">INSTRUCTOR</div>
                    <hr>
                    <h5 class="text-muted mb-1">Instructor Rating</h5>
                    <div class="rating">
                        <i class="material-icons text-success">star</i>
                        <i class="material-icons text-success">star</i>
                        <i class="material-icons text-success">star</i>
                        <i class="material-icons text-success">star</i>
                        <i class="material-icons text-muted-light">star_border</i>
                    </div>
                </div>
                <hr>
                <h4 class="h3">Courses by {{user.username}}</h4>

                {% if user %}
                 {% if courses %}
                {% for course in courses %}
                <div class="card">
                    <div class="card-header">
                        <div class="media align-items-center">
                            <div class="media-left">
                                <a href="instructor-take-course.html">
                                    <img src="/media/{{course.photo }}" alt="Card image cap" width="100"
                                        class="rounded">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="card-title mb-0"><a href="instructor-take-course.html">{{course.title}}</a></h4>
                                <div class="rating">
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star_border</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <div class="card">
                   <h4 class=" h5 text-center text-danger pt-3"> You have not Uploaded a Course</h4>
                </div>
                {% endif %}
                {% endif %}


            </div>
        </div>
        {% include '../../partials/_sidebar.html' %}
    </div>
</div>
{% endif %}
{% endblock %}