{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}

{% if request.user.is_authenticated and request.user.is_instructor and request.user.is_admin %}
<!-- Header Layout Content -->
<div class="mdk-header-layout__content">

    <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page ">

            <div class="container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="instructor-dashboard.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="instructor-quizzes.html">course Manager</a></li>
                    <li class="breadcrumb-item active">Edit Quiz</li>
                </ol>
                <div class ="row">
                  <div class="col-6 col-md-6 col-lg-6"> <h1 class="h2">Add Course</h1></div>
                  <div class="col-6 col-md-6 col-lg-6">
                    <a href="{%url 'onlinecourses:add_category'%}"> <button class="btn btn-large btn-success" style="float:right;" > Add New Course Category</button></a>
                    </div>
                </div>
                <!-- add course modal-->
                 
                <!--/ addcourse modal-->
            
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Course</h4>
                    </div>
                    <div class="card-body">
                        <p>{% include 'partials/_messages.html'%}</p>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.media}}
                            {{form.as_p}}
                            <div class="form-group row mb-0">
                                <div class="col-sm-9 offset-sm-3">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

        <!-- App Settings FAB -->
        {% include '../../partials/_sidebar.html' %}       
    </div>
</div>





<!-- Vendor JS -->
<script src="{% static 'assets/vendor/jquery.nestable.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.bootstrap-touchspin.js' %}"></script>

<!-- Initialize -->
<script src="{% static 'assets/js/nestable.js' %}"></script>
<script src="{% static 'assets/js/touchspin.js' %}"></script>
{% endif %}

{% endblock %}